.carousel-container {
   width: 100%;
   height: 415px;
   border-radius: 25px;
   position: relative;

   @include mobile {
      height: 255px;
      border-radius: 10px;
   }

   .carousel-image {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      object-fit: cover;

      @include mobile {
         border-radius: 10px;

      }
   }

   .fa-chevron-left {
      font-size: 80px;
      color: $white;
      position: absolute;
      left: 23px;
      top: 168px;
      cursor: pointer;

      @include mobile {
         font-size: 20px;
         top: 118px;
         left: 6px;
      }
   }

   .fa-chevron-right {
      font-size: 80px;
      color: $white;
      position: absolute;
      right: 23px;
      top: 168px;
      cursor: pointer;

      @include mobile {
         font-size: 20px;
         top: 118px;
         right: 6px;
      }
   }

   .carousel-current-image {
      font-size: 18px;
      font-weight: 500;
      color: $white;
      position: absolute;
      bottom: 25px;
      right: 49%;

      @include mobile {
         font-size: 13px;
         bottom: 6px;
         right: 46%;
      }
   }
}