// Component Collapse 

.collapse-menu {
   width: 100%;

   .collapse-menu-bar {
      height: 52px;
      background-color: $primary-color;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px 0 15px;
      position: relative;
      z-index: 1;

      @include mobile {
         height: 30px;
         padding: 0 10px 0 10px;
      }

      @include tablet {
         height: 40px;
      }


      .collapse-menu-title {
         font-size: 24px;
         font-weight: bold;
         color: $white;

         @include mobile {
            font-size: 13px;
         }

         @include tablet {
            font-size: 20px;
         }
      }

      .collapse-menu-chevron {
         color: $white;
         font-size: 24px;
         cursor: pointer;
         transition: transform 0.5s ease;

         @include mobile {
            font-size: 13px;
         }

         @include tablet {
            font-size: 20px;
         }

         &.collapse-menu-chevron-dropdown {
            transform: rotate(-180deg);
         }
      }
   }

   .collapse-menu-content {
      font-size: 18px;
      font-weight: 400;
      background-color: $secondary-color;
      border-radius: 0 0 5px 5px;
      margin-top: -5px;
      padding: 0 20px;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50px);
      transition: all 0.5s ease-in-out;

      @include mobile {
         font-size: 12px;
      }

      @include tablet {
         font-size: 16px;
      }

      &.collapse-menu-content-dropdown {
         max-height: 500px;
         opacity: 1;
         visibility: visible;
         transform: translateY(0);
         padding: 20px;

      }
   }
}